<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
            <h1>Create a new list</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todolist in todolists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a></td>
                        <td>{{ todolist.todoitem_set.count }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No to-do lists found. </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
